.s-bar{
    border-radius: 10px;
    border-style:none;
    width:250px;
    height:30px;
    padding:3px 3px 3px 10px;
    outline: none;
    margin: 0px 5px 0px 0px;
}

.s-button{
    border-style:none;
    width:60px;
    height:30px;
    outline:none;
    border-radius: 10px;

}

.s-button:hover{
    background-color: aquamarine;
}