  $normal:rgb(168,167,22);
  $fire:rgb(238,129,48);
  $water:rgb(99,144,240);
  $electric:rgb(247,208,44);
  $grass:rgb(122,199,76);
  $ice:rgb(150,217,214);
  $fighting:rgb(194,46,40);
  $poison:rgb(163,62,161);
  $ground:rgb(226,191,101);
  $flying:rgb(169,143,243);
  $psychic:rgb(249,85,135);
  $bug:rgb(166,185,26);
  $rock:rgb(182,161,54);
  $ghost:rgb(115,87,151);
  $dragon:rgb(111,53,252);
  $dark:rgb(112,87,70);
  $steel:rgb(183,183,206);
  $fairy:rgb(214,133,173);

@mixin type-color($type){
    background-color: $type;
    display: flex;
    justify-content: center;
    color:white;
    width:50px;
    height:20px;
    padding:0 5px;
    border-radius:20%;
}

.type-normal {
    @include type-color($normal)
}

.type-fire {
    @include type-color($fire)
}

.type-grass {
    @include type-color($grass)
}

.type-water {
    @include type-color($water)
}

.type-electric {
    @include type-color($electric)
}

.type-ice {
    @include type-color($ice)
}

.type-fighting {
    @include type-color($fighting)
}

.type-poison {
    @include type-color($poison)
}

.type-ground {
    @include type-color($ground)
}

.type-flying {
    @include type-color($flying)
}

.type-psychic {
    @include type-color($psychic)
}

.type-bug {
    @include type-color($bug)
}

.type-rock {
    @include type-color($rock)
}

.type-ghost {
    @include type-color($ghost)
}

.type-dragon {
    @include type-color($dragon)
}

.type-dark {
    @include type-color($dark)
}

.type-steel {
    @include type-color($ghost)
}

.type-fairy {
    @include type-color($fairy)
}
